* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  background-color: blue;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.app-header {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

.items-list {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

.item {
  height: 70px;
  background-color: red;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.app-footer {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f1f1f1;
}

.app-footer input {
  flex: 1;
  padding: 10px;
}

.app-footer button {
  padding: 10px 20px;
  margin-left: 10px;
}